# Iteraatio3 - ominaisuuksien valintaa omalla tavalla

In [1]:
import numpy as np
import pandas as pd

WORKING_DIRECTORY = '/mnt/c/git/masters-thesis-code/jupyter/code/'

## Ladataan yritysdata

In [8]:
SELECTED_COMPANY_FEATURES = ['company_form_code', 'location_municipality_code', 
                             'location_region_code', 'company_status_code', 'industry_code', 'turnover', 
                             'net_profit', 'personnel_average', 'performer_ranking_points', 'risk_rating_class']

In [9]:
COMPANIES_DF = pd \
        .read_csv(WORKING_DIRECTORY + 'data/prod_data_companies_more_data_2021_09_16.csv',
                  delimiter='\t',
                  na_values='(null)',
                  dtype={
                      'business_id': str,
                      'business_id_start_date': str,
                      'company_name': str,
                      'email_address': str,
                      'industry_code': str,
                      'language': str,
                      'company_form': str,
                      'company_form_code': str,
                      'domicile_code': str,
                      'region_code': str,
                      'location_municipality_code': str,
                      'location_region_code': str,
                      'company_status_code': str,
                      'balance_industry_code': str,
                      'personnel_class': str,
                      'turnover_class': str,
                      'statement_date': str,
                      'statement_length': float,
                      'target_year': str,
                      'turnover': float,
                      'raw_materials_use': float,
                      'current_ratio': float,
                      'personnel_expenses': float,
                      'investment_expenses_cash_flow': float,
                      'ebitda': float,
                      'operating_profit_per_turnover': float,
                      'ebit': float,
                      'turnover_growth_percent': float,
                      'ebit_per_turnover': float,
                      'short_term_sales_receivable': float,
                      'net_profit': float,
                      'net_profit_per_turnover': float,
                      'aggregate_equity': float,
                      'return_on_equity_percent': float,
                      'equity_ratio': float,
                      'long_term_sales_receivable': float,
                      'quick_ratio': float,
                      'buildings': float,
                      'return_on_investment_percent': float,
                      'total_assets': float,
                      'external_services': float,
                      'aggregate_current_assets': float,
                      'personnel_average': float,
                      'concern': str,
                      'bulk': str,
                      'performer_ranking_points': float,
                      'risk_rating_class': str,
                      'latest': str
                  }
                  )

COMPANIES_DF.head()

,business_id,business_id_start_date,company_name,email_address,industry_code,language,company_form,company_form_code,domicile_code,region_code,...,return_on_investment_percent,total_assets,external_services,aggregate_current_assets,personnel_average,concern,bulk,performer_ranking_points,risk_rating_class,latest
0,31431209,2020-06-22,Tmi Onerva Miettunen,onerva.adalmiina@gmail.com,43341,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,091,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32087307,2021-05-04,Koti Vaihtoon LKV Oy,matti.leskinen@kotivaihtoon.com,68310,CL_1,Osakeyhtiö,CO_16,743,RE_14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18601103,2003-10-24,Teollisuuden Monialapalvelu T:mi Oksanen,NaN,68209,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,179,RE_13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20469041,2006-07-04,POLYBEAT,NaN,74909,CL_2,Kuolinpesä,CO_53,091,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24844507,2012-06-18,SAHOJEN PUU,kalle.kantola@hasa.fi,NaN,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,069,RE_17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Käsitellään konsernit (prefiksoi)

In [10]:
def handle_concerns(row):
    if (row.concern == 'true'):
        return 'K-' + row.business_id
    return row.business_id

COMPANIES_DF['business_id'] = COMPANIES_DF.apply(handle_concerns, axis=1)

## Valitaan halutut sarakkeet

In [11]:
COMPANIES_DF = COMPANIES_DF[['business_id', 'company_name'] + SELECTED_COMPANY_FEATURES]
COMPANIES_DF.head()

,business_id,company_name,company_form_code,location_municipality_code,location_region_code,company_status_code,industry_code,turnover,net_profit,personnel_average,performer_ranking_points,risk_rating_class
0,31431209,Tmi Onerva Miettunen,CO_26,091,01,AKT,43341,NaN,NaN,NaN,NaN,NaN
1,32087307,Koti Vaihtoon LKV Oy,CO_16,091,01,AKT,68310,NaN,NaN,NaN,NaN,NaN
2,18601103,Teollisuuden Monialapalvelu T:mi Oksanen,CO_26,NaN,NaN,AKT,68209,NaN,NaN,NaN,NaN,NaN
3,20469041,POLYBEAT,CO_53,NaN,NaN,AKT,74909,NaN,NaN,NaN,NaN,NaN
4,24844507,SAHOJEN PUU,CO_26,NaN,NaN,AKT,NaN,NaN,NaN,NaN,NaN,NaN

## Käsitellään toimialakoodit

In [12]:
def transform_industry(row):
    industry_code = row.industry_code
    if (pd.isnull(industry_code)):
        return 'NaN'
    return industry_code[0:2]

COMPANIES_DF['industry_code'] = COMPANIES_DF.apply(transform_industry, axis=1)
COMPANIES_DF['industry_code']

0           43
1           68
2           68
3           74
4          NaN
          ...
1337863     70
1337864     78
1337865     42
1337866     62
1337867     95
Name: industry_code, Length: 1337868, dtype: object

## Käsitellään riskiluokitus

In [13]:
def transform_risk_rating(row):
    risk_rating = row.risk_rating_class
    if (pd.isnull(risk_rating)):
        return 'NaN'
    return risk_rating.split('_')[0]

COMPANIES_DF['risk_rating_class'] = COMPANIES_DF.apply(transform_risk_rating, axis=1)
COMPANIES_DF

,business_id,company_name,company_form_code,location_municipality_code,location_region_code,company_status_code,industry_code,turnover,net_profit,personnel_average,performer_ranking_points,risk_rating_class
0,31431209,Tmi Onerva Miettunen,CO_26,091,01,AKT,43,NaN,NaN,NaN,NaN,NaN
1,32087307,Koti Vaihtoon LKV Oy,CO_16,091,01,AKT,68,NaN,NaN,NaN,NaN,NaN
2,18601103,Teollisuuden Monialapalvelu T:mi Oksanen,CO_26,NaN,NaN,AKT,68,NaN,NaN,NaN,NaN,NaN
3,20469041,POLYBEAT,CO_53,NaN,NaN,AKT,74,NaN,NaN,NaN,NaN,NaN
4,24844507,SAHOJEN PUU,CO_26,NaN,NaN,AKT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1337863,27527742,Ingenium Partners Oy,CO_16,NaN,NaN,AKT,70,27000.0,0.0,NaN,26.0,GREEN
1337864,31204145,Rainmaker Voima Oy,CO_16,091,01,AKT,78,2443000.0,283000.0,60.0,62.0,GREEN
1337865,30137091,We Build Parks Finland Oy,CO_16,261,19,AKT,42,NaN,NaN,NaN,NaN,NaN
1337866,32150097,Orankien Osuuskunta,CO_14,091,01,AKT,62,NaN,NaN,NaN,NaN,NaN
1337867,08445602,Ykkösmestarit Ky,CO_13,491,10,AKT,95,NaN,NaN,NaN,NaN,NaN

## Muutetaan valittujen sarakkeiden tiedot avainsanoiksi

In [14]:
def transform_str_to_keyword(val, col_name):
    if (pd.isnull(val)):
        return col_name + '+' + 'NaN'
    return col_name + '+' + val

boundaries = COMPANIES_DF.quantile([0.2, 0.4, 0.6, 0.8, 0.9, 0.95, 0.98, 0.99])
print(boundaries)
print(COMPANIES_DF.min(axis=0))
print(COMPANIES_DF.max(axis=0))

def transform_num_to_keyword(val, col_name):
    if (pd.isnull(val)):
        return col_name + '+' + 'NaN'

    col_boundaries = []

    if (col_name == 'turnover'):
        col_boundaries = [20000, 100000, 250000, 1000000, 10000000]

    if (col_name == 'net_profit'):
        col_boundaries = [0, 10000, 50000, 100000, 250000, 1000000]

    if (col_name == 'personnel_average'):
        col_boundaries = [5, 20, 100, 300]

    if (col_name == 'performer_ranking_points'):
        col_boundaries = [30, 50, 70, 85]

    
    for index, item in enumerate(col_boundaries):
        if (val < item):
            return col_name + '+' + str(index)
        
    return col_name + '+' + 'top'

        turnover  net_profit  personnel_average  performer_ranking_points
0.20     22000.0     -4000.0               1.00                      31.0
0.40     87000.0         0.0               2.00                      46.0
0.60    234000.0      8000.0               5.00                      56.0
0.80    825000.0     43000.0              16.00                      70.0
0.90   2390000.0    125000.0              41.00                      77.0
0.95   6721200.0    305000.0              95.95                      82.0
0.98  23293680.0    950780.0             294.38                      86.0
0.99  54267840.0   2244000.0             599.57                      88.0

/tmp/ipykernel_142/3799369724.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(COMPANIES_DF.min(axis=0))

business_id                     00211027
company_status_code                  AKT
industry_code                         00
turnover                      -2998000.0
net_profit                 -1998200000.0
personnel_average                    0.0
performer_ranking_points             0.0
risk_rating_class                  GREEN
dtype: object
business_id                    K-92105327
company_status_code               SELTILA
industry_code                         NaN
turnover                    49015000000.0
net_profit                   1515000000.0
personnel_average                 92039.0
performer_ranking_points             98.0
risk_rating_class                  YELLOW
dtype: object

/tmp/ipykernel_142/3799369724.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(COMPANIES_DF.max(axis=0))

In [15]:
for col_name in SELECTED_COMPANY_FEATURES:
    dtype = COMPANIES_DF[col_name].dtypes
    if dtype == 'object':
        COMPANIES_DF[col_name] = COMPANIES_DF[col_name].apply(lambda x: transform_str_to_keyword(x, col_name))
    if dtype == 'float64' or dtype == 'int64':
        COMPANIES_DF[col_name] = COMPANIES_DF[col_name].apply(lambda x: transform_num_to_keyword(x, col_name))
        
COMPANIES_DF

,business_id,company_name,company_form_code,location_municipality_code,location_region_code,company_status_code,industry_code,turnover,net_profit,personnel_average,performer_ranking_points,risk_rating_class
0,31431209,Tmi Onerva Miettunen,company_form_code+CO_26,location_municipality_code+091,location_region_code+01,company_status_code+AKT,industry_code+43,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
1,32087307,Koti Vaihtoon LKV Oy,company_form_code+CO_16,location_municipality_code+091,location_region_code+01,company_status_code+AKT,industry_code+68,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
2,18601103,Teollisuuden Monialapalvelu T:mi Oksanen,company_form_code+CO_26,location_municipality_code+NaN,location_region_code+NaN,company_status_code+AKT,industry_code+68,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
3,20469041,POLYBEAT,company_form_code+CO_53,location_municipality_code+NaN,location_region_code+NaN,company_status_code+AKT,industry_code+74,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
4,24844507,SAHOJEN PUU,company_form_code+CO_26,location_municipality_code+NaN,location_region_code+NaN,company_status_code+AKT,industry_code+NaN,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1337863,27527742,Ingenium Partners Oy,company_form_code+CO_16,location_municipality_code+NaN,location_region_code+NaN,company_status_code+AKT,industry_code+70,turnover+1,net_profit+1,personnel_average+NaN,performer_ranking_points+0,risk_rating_class+GREEN
1337864,31204145,Rainmaker Voima Oy,company_form_code+CO_16,location_municipality_code+091,location_region_code+01,company_status_code+AKT,industry_code+78,turnover+4,net_profit+5,personnel_average+2,performer_ranking_points+2,risk_rating_class+GREEN
1337865,30137091,We Build Parks Finland Oy,company_form_code+CO_16,location_municipality_code+261,location_region_code+19,company_status_code+AKT,industry_code+42,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
1337866,32150097,Orankien Osuuskunta,company_form_code+CO_14,location_municipality_code+091,location_region_code+01,company_status_code+AKT,industry_code+62,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
1337867,08445602,Ykkösmestarit Ky,company_form_code+CO_13,location_municipality_code+491,location_region_code+10,company_status_code+AKT,industry_code+95,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN

In [16]:
ITEM_IDS = list(COMPANIES_DF['business_id'].unique())

## Ladataan vuorovaikutusdata

In [17]:
interactions_tmp = pd \
    .read_csv(WORKING_DIRECTORY + 'data/interactions_2021_08_19.csv',
             delimiter='\t',
             dtype={
                 'group_id': 'string',
                 'business_id': 'string',
                 'owner': 'string'
             })

# otetaan pois 1 kokoiset ryhmät
group_sizes = interactions_tmp['group_id'].value_counts()
group_sizes_df = pd.DataFrame({'group_id': group_sizes.index, 'group_size': group_sizes.values})

INTERACTIONS_WITH_GROUP_SIZES_DF = interactions_tmp.merge(group_sizes_df, on='group_id')             
interactions_tmp = INTERACTIONS_WITH_GROUP_SIZES_DF[INTERACTIONS_WITH_GROUP_SIZES_DF.group_size >= 2]
#interactions_tmp = INTERACTIONS_WITH_GROUP_SIZES_DF[INTERACTIONS_WITH_GROUP_SIZES_DF.group_size <= 3000]
interactions_tmp.sort_values('group_size')

,group_id,business_id,owner,group_size
155696,3e9dd356-2b21-45ae-9ee4-7cd6cc122fe1,07577937,5e87095492119e00066e7158,2
106198,31503959-943a-4081-abcc-dc80e5cb0402,15093748,5db034c64320cd0006d2b788,2
313746,cab22fae-db47-46b6-b902-3d9a1b1051f6,01163004,5e4534bc7bf061000697e940,2
313747,cab22fae-db47-46b6-b902-3d9a1b1051f6,10410900,5e4534bc7bf061000697e940,2
545392,0967d6ed-88b7-4023-a720-f09f7051f24d,17944788,5efdbc656488210007bc27f6,2
...,...,...,...,...
8042,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,16029641,5e1489f3c2f568000654ecbb,3999
8043,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,16030167,5e1489f3c2f568000654ecbb,3999
8044,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,16030415,5e1489f3c2f568000654ecbb,3999
8031,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,16001948,5e1489f3c2f568000654ecbb,3999
7025,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,09710930,5e1489f3c2f568000654ecbb,3999

In [18]:
# lisätään konserniyrityksille interaktiot
concern_interactions = interactions_tmp.copy()
concern_interactions['business_id'] = 'K-' + concern_interactions['business_id'].astype(str)
concern_interactions = concern_interactions[concern_interactions.business_id.isin(ITEM_IDS)]
concern_interactions

,group_id,business_id,owner,group_size
5,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-01681709,60646431ae18cb00063ed63f,1862
6,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-15055514,60646431ae18cb00063ed63f,1862
7,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-01876143,60646431ae18cb00063ed63f,1862
9,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-05363070,60646431ae18cb00063ed63f,1862
10,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-01387534,60646431ae18cb00063ed63f,1862
...,...,...,...,...
548074,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-02106319,6110c56241e21e000857ca77,131
548110,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-20333371,6110c56241e21e000857ca77,131
548137,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-07027249,6110c56241e21e000857ca77,131
548162,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-02011774,6110c56241e21e000857ca77,131
548171,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-10459325,6110c56241e21e000857ca77,131

In [19]:
# yhdistetään konserni-interaktiot tavallisiin ja poistetaan sellaiset interaktiot, joille ei löydy y-tunnusta
INTERACTIONS_DF = pd.concat([interactions_tmp, concern_interactions])
INTERACTIONS_DF = INTERACTIONS_DF[INTERACTIONS_DF.business_id.isin(ITEM_IDS)]
INTERACTIONS_DF[INTERACTIONS_DF['business_id'] == 'K-02011774']

,group_id,business_id,owner,group_size
18663,6c894b42-cbc6-4d18-8cf1-39ee91d2bf53,K-02011774,6058a712ae18cb00063ed639,2175
49204,66aea578-682d-45de-a200-77fa79a8c5e7,K-02011774,5db92c0ebc3e9100062ac0b0,3692
217786,608ac4ff-ab75-425b-a4f1-74d5defd43a3,K-02011774,5fbe6408f464de0006491d9e,1541
231830,4d2c2290-72be-40fe-8506-42718d2aac25,K-02011774,5f5613da9769490006b0ebb3,3685
254761,58f4cb31-0d40-42b2-9268-10d6dc64f1a0,K-02011774,5f5613da9769490006b0ebb3,2595
298418,2177a613-3b16-483e-9c9b-dc20bd4225f6,K-02011774,608863795602580007e70ddf,3925
354226,62c0017d-ff32-4584-8c85-562e9a1e8329,K-02011774,5fab9e2dc07a1900066bab26,3949
412123,3a44f374-56ee-4500-8829-c4b942b7afec,K-02011774,6033ae80484e8a0006fe437a,3966
439385,725e7cd0-7031-4988-b4cb-69672c611514,K-02011774,5db83a1cbc3e9100062ac0ab,1846
451491,acfdacd6-0de0-4568-a819-c3c2e15ef221,K-02011774,6033ae80484e8a0006fe437a,3809
459932,a18a99fb-bfb4-4c46-ad6d-89e7b74ff2c4,K-02011774,60646431ae18cb00063ed63f,3143
464050,51b071a7-bfc6-4add-93d2-11eea5346dc4,K-02011774,60646431ae18cb00063ed63f,2749
493257,ddaef9fe-0f14-45f9-b55f-8ad1532a8680,K-02011774,60b5f4565735df0009ec7ea2,2235
548162,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-02011774,6110c56241e21e000857ca77,131

## Poimitaan käytössä olevat ominaisuudet

In [20]:
features_tmp = [COMPANIES_DF[feature].unique() for feature in SELECTED_COMPANY_FEATURES]
FEATURES = [item for sublist in features_tmp for item in sublist]
len(FEATURES)
FEATURES

['company_form_code+CO_26',
 'company_form_code+CO_16',
 'company_form_code+CO_53',
 'company_form_code+CO_2',
 'company_form_code+CO_10',
 'company_form_code+CO_13',
 'company_form_code+CO_19',
 'company_form_code+CO_5',
 'company_form_code+CO_14',
 'company_form_code+CO_6',
 'company_form_code+CO_63',
 'company_form_code+CO_51',
 'company_form_code+CO_56',
 'company_form_code+CO_18',
 'company_form_code+CO_60',
 'company_form_code+CO_17',
 'company_form_code+CO_0',
 'company_form_code+CO_54',
 'company_form_code+CO_52',
 'company_form_code+CO_50',
 'company_form_code+CO_57',
 'company_form_code+CO_31',
 'company_form_code+CO_29',
 'company_form_code+CO_41',
 'company_form_code+CO_71',
 'company_form_code+CO_39',
 'company_form_code+CO_36',
 'company_form_code+CO_90',
 'company_form_code+CO_48',
 'company_form_code+CO_44',
 'company_form_code+CO_59',
 'company_form_code+CO_55',
 'company_form_code+CO_42',
 'company_form_code+CO_40',
 'company_form_code+CO_15',
 'company_form_code+CO_70',
 'company_form_code+CO_58',
 'company_form_code+CO_32',
 'company_form_code+CO_46',
 'company_form_code+CO_43',
 'company_form_code+CO_47',
 'company_form_code+CO_12',
 'company_form_code+CO_24',
 'company_form_code+CO_38',
 'company_form_code+CO_49',
 'company_form_code+CO_37',
 'company_form_code+CO_4',
 'company_form_code+CO_30',
 'company_form_code+CO_21',
 'company_form_code+CO_45',
 'company_form_code+CO_22',
 'company_form_code+CO_28',
 'company_form_code+CO_9',
 'company_form_code+CO_1',
 'company_form_code+CO_35',
 'company_form_code+CO_25',
 'company_form_code+CO_3',
 'company_form_code+CO_33',
 'company_form_code+CO_20',
 'company_form_code+CO_8',
 'company_form_code+CO_7',
 'company_form_code+NaN',
 'company_form_code+CO_80',
 'company_form_code+CO_61',
 'company_form_code+CO_23',
 'location_municipality_code+091',
 'location_municipality_code+NaN',
 'location_municipality_code+049',
 'location_municipality_code+272',
 'location_municipality_code+636',
 'location_municipality_code+535',
 'location_municipality_code+297',
 'location_municipality_code+837',
 'location_municipality_code+504',
 'location_municipality_code+853',
 'location_municipality_code+016',
 'location_municipality_code+405',
 'location_municipality_code+564',
 'location_municipality_code+092',
 'location_municipality_code+186',
 'location_municipality_code+980',
 'location_municipality_code+859',
 'location_municipality_code+707',
 'location_municipality_code+499',
 'location_municipality_code+545',
 'location_municipality_code+743',
 'location_municipality_code+005',
 'location_municipality_code+678',
 'location_municipality_code+758',
 'location_municipality_code+402',
 'location_municipality_code+753',
 'location_municipality_code+179',
 'location_municipality_code+244',
 'location_municipality_code+410',
 'location_municipality_code+536',
 'location_municipality_code+245',
 'location_municipality_code+286',
 'location_municipality_code+061',
 'location_municipality_code+505',
 'location_municipality_code+430',
 'location_municipality_code+109',
 'location_municipality_code+398',
 'location_municipality_code+018',
 'location_municipality_code+436',
 'location_municipality_code+740',
 'location_municipality_code+858',
 'location_municipality_code+927',
 'location_municipality_code+563',
 'location_municipality_code+620',
 'location_municipality_code+895',
 'location_municipality_code+508',
 'location_municipality_code+765',
 'location_municipality_code+844',
 'location_municipality_code+106',
 'location_municipality_code+851',
 'location_municipality_code+905',
 'location_municipality_code+759',
 'location_municipality_code+235',
 'location_municipality_code+543',
 'location_municipality_code+202',
 'location_municipality_code+749',
 'location_municipality_code+478',
 'location_municipality_code+680',
 'location_municipality_code+285',
 'location_municipality_code+781',
 'location_municipality_code+734',
 'location_municipality_code+925',
 'location_municipality_code+494',
 'location_municipality_code+915',
 'location_municipality_code+694',
 'location_municipality_code+075',
 'location_municipality_code+908',
 'location_municipality_code+165',
 'location_municipality_code+213',
 'location_municipality_code+681',
 'location_municipality_code+224',
 'location_municipality_code+140',
 'location_municipality_code+702',
 'location_municipality_code+710',
 'location_municipality_code+211',
 'location_municipality_code+791',
 'location_municipality_code+261',
 'location_municipality_code+638',
 'location_municipality_code+440',
 'location_municipality_code+176',
 'location_municipality_code+273',
 'location_municipality_code+169',
 'location_municipality_code+698',
 'location_municipality_code+182',
 'location_municipality_code+263',
 'location_municipality_code+233',
 'location_municipality_code+108',
 'location_municipality_code+615',
 'location_municipality_code+167',
 'location_municipality_code+418',
 'location_municipality_code+204',
 'location_municipality_code+205',
 'location_municipality_code+748',
 'location_municipality_code+609',
 'location_municipality_code+577',
 'location_municipality_code+170',
 'location_municipality_code+500',
 'location_municipality_code+232',
 'location_municipality_code+098',
 'location_municipality_code+444',
 'location_municipality_code+593',
 'location_municipality_code+529',
 'location_municipality_code+778',
 'location_municipality_code+491',
 'location_municipality_code+616',
 'location_municipality_code+924',
 'location_municipality_code+738',
 'location_municipality_code+153',
 'location_municipality_code+051',
 'location_municipality_code+495',
 'location_municipality_code+399',
 'location_municipality_code+684',
 'location_municipality_code+423',
 'location_municipality_code+561',
 'location_municipality_code+260',
 'location_municipality_code+831',
 'location_municipality_code+790',
 'location_municipality_code+214',
 'location_municipality_code+611',
 'location_municipality_code+218',
 'location_municipality_code+241',
 'location_municipality_code+777',
 'location_municipality_code+601',
 'location_municipality_code+977',
 'location_municipality_code+433',
 'location_municipality_code+562',
 'location_municipality_code+434',
 'location_municipality_code+305',
 'location_municipality_code+408',
 'location_municipality_code+976',
 'location_municipality_code+560',
 'location_municipality_code+890',
 'location_municipality_code+435',
 'location_municipality_code+047',
 'location_municipality_code+541',
 'location_municipality_code+145',
 'location_municipality_code+078',
 'location_municipality_code+271',
 'location_municipality_code+322',
 'location_municipality_code+149',
 'location_municipality_code+946',
 'location_municipality_code+992',
 'location_municipality_code+240',
 'location_municipality_code+941',
 'location_municipality_code+079',
 'location_municipality_code+592',
 'location_municipality_code+635',
 'location_municipality_code+257',
 'location_municipality_code+226',
 'location_municipality_code+102',
 'location_municipality_code+886',
 'location_municipality_code+146',
 'location_municipality_code+400',
 'location_municipality_code+892',
 'location_municipality_code+531',
 'location_municipality_code+761',
 'location_municipality_code+426',
 'location_municipality_code+584',
 'location_municipality_code+276',
 'location_municipality_code+507',
 'location_municipality_code+111',
 'location_municipality_code+689',
 'location_municipality_code+256',
 'location_municipality_code+484',
 'location_municipality_code+143',
 'location_municipality_code+475',
 'location_municipality_code+686',
 'location_municipality_code+445',
 'location_municipality_code+887',
 'location_municipality_code+704',
 'location_municipality_code+086',
 'location_municipality_code+250',
 'location_municipality_code+598',
 'location_municipality_code+069',
 'location_municipality_code+090',
 'location_municipality_code+607',
 'location_municipality_code+236',
 'location_municipality_code+291',
 'location_municipality_code+834',
 'location_municipality_code+425',
 'location_municipality_code+148',
 'location_municipality_code+301',
 'location_municipality_code+619',
 'location_municipality_code+503',
 'location_municipality_code+422',
 'location_municipality_code+249',
 'location_municipality_code+989',
 'location_municipality_code+217',
 'location_municipality_code+700',
 'location_municipality_code+729',
 'location_municipality_code+481',
 'location_municipality_code+178',
 'location_municipality_code+172',
 'location_municipality_code+081',
 'location_municipality_code+889',
 'location_municipality_code+151',
 'location_municipality_code+312',
 'location_municipality_code+071',
 'location_municipality_code+604',
 'location_municipality_code+139',
 'location_municipality_code+498',
 'location_municipality_code+420',
 'location_municipality_code+020',
 'location_municipality_code+050',
 'location_municipality_code+317',
 'location_municipality_code+077',
 'location_municipality_code+783',
 'location_municipality_code+846',
 'location_municipality_code+316',
 'location_municipality_code+936',
 'location_municipality_code+082',
 'location_municipality_code+538',
 'location_municipality_code+035',
 'location_municipality_code+290',
 'location_municipality_code+309',
 'location_municipality_code+683',
 'location_municipality_code+320',
 'location_municipality_code+595',
 'location_municipality_code+608',
 'location_municipality_code+171',
 'location_municipality_code+280',
 'location_municipality_code+441',
 'location_municipality_code+691',
 'location_municipality_code+480',
 'location_municipality_code+580',
 'location_municipality_code+931',
 'location_municipality_code+052',
 'location_municipality_code+208',
 'location_municipality_code+287',
 'location_municipality_code+288',
 'location_municipality_code+755',
 'location_municipality_code+849',
 'location_municipality_code+751',
 'location_municipality_code+934',
 'location_municipality_code+626',
 'location_municipality_code+181',
 'location_municipality_code+599',
 'location_municipality_code+581',
 'location_municipality_code+762',
 'location_municipality_code+588',
 'location_municipality_code+768',
 'location_municipality_code+152',
 'location_municipality_code+060',
 'location_municipality_code+417',
 'location_municipality_code+893',
 'location_municipality_code+142',
 'location_municipality_code+832',
 'location_municipality_code+230',
 'location_municipality_code+747',
 'location_municipality_code+732',
 'location_municipality_code+631',
 'location_municipality_code+010',
 'location_municipality_code+845',
 'location_municipality_code+583',
 'location_municipality_code+576',
 'location_municipality_code+578',
 'location_municipality_code+304',
 'location_municipality_code+687',
 'location_municipality_code+043',
 'location_municipality_code+746',
 'location_municipality_code+742',
 'location_municipality_code+483',
 'location_municipality_code+009',
 'location_municipality_code+850',
 'location_municipality_code+239',
 'location_municipality_code+097',
 'location_municipality_code+624',
 'location_municipality_code+785',
 'location_municipality_code+318',
 'location_municipality_code+076',
 'location_municipality_code+848',
 'location_municipality_code+739',
 'location_municipality_code+771',
 'location_municipality_code+614',
 'location_municipality_code+275',
 'location_municipality_code+922',
 'location_municipality_code+103',
 'location_municipality_code+981',
 'location_municipality_code+265',
 'location_municipality_code+019',
 'location_municipality_code+403',
 'location_municipality_code+854',
 'location_municipality_code+623',
 'location_municipality_code+630',
 'location_municipality_code+625',
 'location_municipality_code+231',
 'location_municipality_code+918',
 'location_municipality_code+062',
 'location_municipality_code+416',
 'location_municipality_code+074',
 'location_municipality_code+300',
 'location_municipality_code+407',
 'location_municipality_code+935',
 'location_municipality_code+736',
 'location_municipality_code+072',
 'location_municipality_code+105',
 'location_municipality_code+833',
 'location_municipality_code+216',
 'location_municipality_code+857',
 'location_municipality_code+284',
 'location_municipality_code+489',
 'location_municipality_code+438',
 'location_municipality_code+921',
 'location_municipality_code+421',
 'location_municipality_code+065',
 'location_municipality_code+177',
 'location_municipality_code+295',
 'location_municipality_code+046',
 'location_municipality_code+766',
 'location_municipality_code+697',
 'location_region_code+01',
 'location_region_code+NaN',
 'location_region_code+16',
 'location_region_code+02',
 'location_region_code+17',
 'location_region_code+11',
 'location_region_code+06',
 'location_region_code+07',
 'location_region_code+09',
 'location_region_code+12',
 'location_region_code+15',
 'location_region_code+14',
 'location_region_code+19',
 'location_region_code+13',
 'location_region_code+08',
 'location_region_code+05',
 'location_region_code+10',
 'location_region_code+18',
 'location_region_code+21',
 'location_region_code+04',
 'company_status_code+AKT',
 'company_status_code+SELTILA',
 'company_status_code+KESK',
 'company_status_code+KONK',
 'company_status_code+SANE',
 'industry_code+43',
 'industry_code+68',
 'industry_code+74',
 'industry_code+NaN',
 'industry_code+49',
 'industry_code+01',
 'industry_code+46',
 'industry_code+90',
 'industry_code+86',
 'industry_code+56',
 'industry_code+79',
 'industry_code+41',
 'industry_code+62',
 'industry_code+87',
 'industry_code+93',
 'industry_code+81',
 'industry_code+47',
 'industry_code+22',
 'industry_code+33',
 'industry_code+71',
 'industry_code+85',
 'industry_code+45',
 'industry_code+69',
 'industry_code+18',
 'industry_code+31',
 'industry_code+25',
 'industry_code+02',
 'industry_code+59',
 'industry_code+66',
 'industry_code+70',
 'industry_code+64',
 'industry_code+10',
 'industry_code+88',
 'industry_code+14',
 'industry_code+82',
 'industry_code+55',
 'industry_code+52',
 'industry_code+96',
 'industry_code+73',
 'industry_code+77',
 'industry_code+28',
 'industry_code+61',
 'industry_code+95',
 'industry_code+80',
 'industry_code+13',
 'industry_code+63',
 'industry_code+16',
 'industry_code+03',
 'industry_code+42',
 'industry_code+17',
 'industry_code+32',
 'industry_code+26',
 'industry_code+35',
 'industry_code+08',
 'industry_code+75',
 'industry_code+36',
 'industry_code+78',
 'industry_code+53',
 'industry_code+00',
 'industry_code+94',
 'industry_code+23',
 'industry_code+27',
 'industry_code+72',
 'industry_code+38',
 'industry_code+58',
 'industry_code+20',
 'industry_code+29',
 'industry_code+37',
 'industry_code+65',
 'industry_code+30',
 'industry_code+50',
 'industry_code+84',
 'industry_code+91',
 'industry_code+99',
 'industry_code+11',
 'industry_code+21',
 'industry_code+15',
 'industry_code+60',
 'industry_code+24',
 'industry_code+09',
 'industry_code+51',
 'industry_code+39',
 'industry_code+07',
 'industry_code+97',
 'industry_code+92',
 'industry_code+19',
 'industry_code+98',
 'industry_code+06',
 'industry_code+12',
 'industry_code+05',
 'turnover+NaN',
 'turnover+1',
 'turnover+4',
 'turnover+0',
 'turnover+3',
 'turnover+2',
 'turnover+top',
 'net_profit+NaN',
 'net_profit+2',
 'net_profit+0',
 'net_profit+1',
 'net_profit+3',
 'net_profit+5',
 'net_profit+4',
 'net_profit+top',
 'personnel_average+NaN',
 'personnel_average+0',
 'personnel_average+1',
 'personnel_average+2',
 'personnel_average+3',
 'personnel_average+top',
 'performer_ranking_points+NaN',
 'performer_ranking_points+3',
 'performer_ranking_points+1',
 'performer_ranking_points+2',
 'performer_ranking_points+0',
 'performer_ranking_points+top',
 'risk_rating_class+NaN',
 'risk_rating_class+GREEN',
 'risk_rating_class+YELLOW',
 'risk_rating_class+RED']

## Lasketaan mitkä ominaisuudet esiintyvät ryhmissä vallitsevina

In [21]:
def calculate_criteria_index_for_feature(features, threshold):
    results = [0 for feature in features]
    interaction_business_df = INTERACTIONS_DF.merge(COMPANIES_DF, on='business_id')
    group_ids = list(INTERACTIONS_DF['group_id'].unique())

    for gid in group_ids:
        group_df = interaction_business_df.loc[interaction_business_df['group_id'] == gid]
        num_companies = group_df.shape[0]

        for i, feature in enumerate(features):
            col_name = feature.split('+')[0]
            num_with_feature = group_df[group_df[col_name] == feature].shape[0]
            feature_percent = num_with_feature / num_companies
            if (feature_percent >= threshold):
                results[i] = results[i] + 1


            

    return pd.DataFrame({'feature': features, 'count_over_thresh': results})

In [22]:
RESULTS_DF = calculate_criteria_index_for_feature(FEATURES, 0.5)

In [24]:

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(RESULTS_DF.sort_values(['count_over_thresh', 'feature']))

                            feature  count_over_thresh
16           company_form_code+CO_0                  0
53           company_form_code+CO_1                  0
41          company_form_code+CO_12                  0
34          company_form_code+CO_15                  0
6           company_form_code+CO_19                  0
3            company_form_code+CO_2                  0
58          company_form_code+CO_20                  0
48          company_form_code+CO_21                  0
50          company_form_code+CO_22                  0
64          company_form_code+CO_23                  0
42          company_form_code+CO_24                  0
55          company_form_code+CO_25                  0
51          company_form_code+CO_28                  0
22          company_form_code+CO_29                  0
56           company_form_code+CO_3                  0
47          company_form_code+CO_30                  0
21          company_form_code+CO_31                  0
37          company_form_code+CO_32                  0
57          company_form_code+CO_33                  0
54          company_form_code+CO_35                  0
26          company_form_code+CO_36                  0
45          company_form_code+CO_37                  0
43          company_form_code+CO_38                  0
25          company_form_code+CO_39                  0
33          company_form_code+CO_40                  0
32          company_form_code+CO_42                  0
39          company_form_code+CO_43                  0
29          company_form_code+CO_44                  0
49          company_form_code+CO_45                  0
38          company_form_code+CO_46                  0
40          company_form_code+CO_47                  0
28          company_form_code+CO_48                  0
44          company_form_code+CO_49                  0
19          company_form_code+CO_50                  0
11          company_form_code+CO_51                  0
18          company_form_code+CO_52                  0
2           company_form_code+CO_53                  0
17          company_form_code+CO_54                  0
31          company_form_code+CO_55                  0
12          company_form_code+CO_56                  0
20          company_form_code+CO_57                  0
36          company_form_code+CO_58                  0
30          company_form_code+CO_59                  0
14          company_form_code+CO_60                  0
63          company_form_code+CO_61                  0
10          company_form_code+CO_63                  0
60           company_form_code+CO_7                  0
35          company_form_code+CO_70                  0
24          company_form_code+CO_71                  0
59           company_form_code+CO_8                  0
62          company_form_code+CO_80                  0
52           company_form_code+CO_9                  0
27          company_form_code+CO_90                  0
61            company_form_code+NaN                  0
397        company_status_code+KESK                  0
399        company_status_code+SANE                  0
396     company_status_code+SELTILA                  0
458                industry_code+00                  0
447                industry_code+03                  0
489                industry_code+05                  0
487                industry_code+06                  0
479                industry_code+09                  0
488                industry_code+12                  0
481                industry_code+39                  0
470                industry_code+50                  0
480                industry_code+51                  0
427                industry_code+59                  0
477                industry_code+60                  0
468                industry_code+65                  0
462                industry_code+72                  0
410                industry_code+79                  0
407                industry_code+90                  0
472                industry_code+91                  0
484                industry_code+92                  0
414                industry_code+93                  0
483                industry_code+97                  0
486                industry_code+98                  0
473                industry_code+99                  0
403               industry_code+NaN                  0
86   location_municipality_code+005                  0
327  location_municipality_code+009                  0
316  location_municipality_code+010                  0
75   location_municipality_code+016                  0
102  location_municipality_code+018                  0
344  location_municipality_code+019                  0
267  location_municipality_code+020                  0
277  location_municipality_code+035                  0
323  location_municipality_code+043                  0
372  location_municipality_code+046                  0
198  location_municipality_code+047                  0
268  location_municipality_code+050                  0
173  location_municipality_code+051                  0
291  location_municipality_code+052                  0
307  location_municipality_code+060                  0
97   location_municipality_code+061                  0
352  location_municipality_code+062                  0
369  location_municipality_code+065                  0
238  location_municipality_code+069                  0
262  location_municipality_code+071                  0
359  location_municipality_code+072                  0
354  location_municipality_code+074                  0
130  location_municipality_code+075                  0
334  location_municipality_code+076                  0
270  location_municipality_code+077                  0
201  location_municipality_code+078                  0
258  location_municipality_code+081                  0
275  location_municipality_code+082                  0
235  location_municipality_code+086                  0
239  location_municipality_code+090                  0
330  location_municipality_code+097                  0
163  location_municipality_code+098                  0
214  location_municipality_code+102                  0
341  location_municipality_code+103                  0
360  location_municipality_code+105                  0
151  location_municipality_code+108                  0
264  location_municipality_code+139                  0
310  location_municipality_code+142                  0
229  location_municipality_code+143                  0
200  location_municipality_code+145                  0
216  location_municipality_code+146                  0
245  location_municipality_code+148                  0
204  location_municipality_code+149                  0
260  location_municipality_code+151                  0
172  location_municipality_code+153                  0
132  location_municipality_code+165                  0
146  location_municipality_code+169                  0
160  location_municipality_code+170                  0
284  location_municipality_code+171                  0
257  location_municipality_code+172                  0
144  location_municipality_code+176                  0
370  location_municipality_code+177                  0
256  location_municipality_code+178                  0
300  location_municipality_code+181                  0
148  location_municipality_code+182                  0
119  location_municipality_code+202                  0
155  location_municipality_code+204                  0
156  location_municipality_code+205                  0
292  location_municipality_code+208                  0
139  location_municipality_code+211                  0
133  location_municipality_code+213                  0
182  location_municipality_code+214                  0
362  location_municipality_code+216                  0
184  location_municipality_code+218                  0
135  location_municipality_code+224                  0
312  location_municipality_code+230                  0
350  location_municipality_code+231                  0
162  location_municipality_code+232                  0
150  location_municipality_code+233                  0
117  location_municipality_code+235                  0
241  location_municipality_code+236                  0
329  location_municipality_code+239                  0
207  location_municipality_code+240                  0
185  location_municipality_code+241                  0
92   location_municipality_code+244                  0
250  location_municipality_code+249                  0
236  location_municipality_code+250                  0
227  location_municipality_code+256                  0
141  location_municipality_code+261                  0
149  location_municipality_code+263                  0
343  location_municipality_code+265                  0
202  location_municipality_code+271                  0
145  location_municipality_code+273                  0
339  location_municipality_code+275                  0
223  location_municipality_code+276                  0
285  location_municipality_code+280                  0
364  location_municipality_code+284                  0
294  location_municipality_code+288                  0
278  location_municipality_code+290                  0
242  location_municipality_code+291                  0
371  location_municipality_code+295                  0
71   location_municipality_code+297                  0
355  location_municipality_code+300                  0
246  location_municipality_code+301                  0
321  location_municipality_code+304                  0
279  location_municipality_code+309                  0
261  location_municipality_code+312                  0
273  location_municipality_code+316                  0
269  location_municipality_code+317                  0
333  location_municipality_code+318                  0
281  location_municipality_code+320                  0
203  location_municipality_code+322                  0
175  location_municipality_code+399                  0
217  location_municipality_code+400                  0
89   location_municipality_code+402                  0
345  location_municipality_code+403                  0
356  location_municipality_code+407                  0
193  location_municipality_code+408                  0
93   location_municipality_code+410                  0
353  location_municipality_code+416                  0
308  location_municipality_code+417                  0
154  location_municipality_code+418                  0
266  location_municipality_code+420                  0
368  location_municipality_code+421                  0
249  location_municipality_code+422                  0
177  location_municipality_code+423                  0
244  location_municipality_code+425                  0
221  location_municipality_code+426                  0
99   location_municipality_code+430                  0
189  location_municipality_code+433                  0
191  location_municipality_code+434                  0
197  location_municipality_code+435                  0
103  location_municipality_code+436                  0
366  location_municipality_code+438                  0
143  location_municipality_code+440                  0
286  location_municipality_code+441                  0
232  location_municipality_code+445                  0
230  location_municipality_code+475                  0
121  location_municipality_code+478                  0
288  location_municipality_code+480                  0
255  location_municipality_code+481                  0
326  location_municipality_code+483                  0
228  location_municipality_code+484                  0
365  location_municipality_code+489                  0
127  location_municipality_code+494                  0
174  location_municipality_code+495                  0
265  location_municipality_code+498                  0
161  location_municipality_code+500                  0
248  location_municipality_code+503                  0
73   location_municipality_code+504                  0
98   location_municipality_code+505                  0
224  location_municipality_code+507                  0
166  location_municipality_code+529                  0
219  location_municipality_code+531                  0
70   location_municipality_code+535                  0
94   location_municipality_code+536                  0
276  location_municipality_code+538                  0
199  location_municipality_code+541                  0
84   location_municipality_code+545                  0
178  location_municipality_code+561                  0
107  location_municipality_code+563                  0
319  location_municipality_code+576                  0
159  location_municipality_code+577                  0
320  location_municipality_code+578                  0
289  location_municipality_code+580                  0
302  location_municipality_code+581                  0
318  location_municipality_code+583                  0
222  location_municipality_code+584                  0
304  location_municipality_code+588                  0
210  location_municipality_code+592                  0
165  location_municipality_code+593                  0
282  location_municipality_code+595                  0
301  location_municipality_code+599                  0
187  location_municipality_code+601                  0
263  location_municipality_code+604                  0
240  location_municipality_code+607                  0
283  location_municipality_code+608                  0
183  location_municipality_code+611                  0
338  location_municipality_code+614                  0
152  location_municipality_code+615                  0
169  location_municipality_code+616                  0
247  location_municipality_code+619                  0
108  location_municipality_code+620                  0
347  location_municipality_code+623                  0
331  location_municipality_code+624                  0
349  location_municipality_code+625                  0
299  location_municipality_code+626                  0
348  location_municipality_code+630                  0
315  location_municipality_code+631                  0
211  location_municipality_code+635                  0
69   location_municipality_code+636                  0
122  location_municipality_code+680                  0
134  location_municipality_code+681                  0
280  location_municipality_code+683                  0
231  location_municipality_code+686                  0
322  location_municipality_code+687                  0
226  location_municipality_code+689                  0
287  location_municipality_code+691                  0
374  location_municipality_code+697                  0
253  location_municipality_code+700                  0
137  location_municipality_code+702                  0
234  location_municipality_code+704                  0
82   location_municipality_code+707                  0
138  location_municipality_code+710                  0
254  location_municipality_code+729                  0
314  location_municipality_code+732                  0
358  location_municipality_code+736                  0
336  location_municipality_code+739                  0
104  location_municipality_code+740                  0
325  location_municipality_code+742                  0
324  location_municipality_code+746                  0
157  location_municipality_code+748                  0
120  location_municipality_code+749                  0
297  location_municipality_code+751                  0
90   location_municipality_code+753                  0
295  location_municipality_code+755                  0
88   location_municipality_code+758                  0
116  location_municipality_code+759                  0
220  location_municipality_code+761                  0
303  location_municipality_code+762                  0
111  location_municipality_code+765                  0
373  location_municipality_code+766                  0
305  location_municipality_code+768                  0
337  location_municipality_code+771                  0
186  location_municipality_code+777                  0
167  location_municipality_code+778                  0
124  location_municipality_code+781                  0
271  location_municipality_code+783                  0
332  location_municipality_code+785                  0
181  location_municipality_code+790                  0
140  location_municipality_code+791                  0
180  location_municipality_code+831                  0
311  location_municipality_code+832                  0
361  location_municipality_code+833                  0
243  location_municipality_code+834                  0
112  location_municipality_code+844                  0
317  location_municipality_code+845                  0
272  location_municipality_code+846                  0
335  location_municipality_code+848                  0
296  location_municipality_code+849                  0
328  location_municipality_code+850                  0
346  location_municipality_code+854                  0
363  location_municipality_code+857                  0
81   location_municipality_code+859                  0
215  location_municipality_code+886                  0
233  location_municipality_code+887                  0
259  location_municipality_code+889                  0
196  location_municipality_code+890                  0
218  location_municipality_code+892                  0
109  location_municipality_code+895                  0
128  location_municipality_code+915                  0
351  location_municipality_code+918                  0
367  location_municipality_code+921                  0
340  location_municipality_code+922                  0
170  location_municipality_code+924                  0
126  location_municipality_code+925                  0
106  location_municipality_code+927                  0
290  location_municipality_code+931                  0
298  location_municipality_code+934                  0
357  location_municipality_code+935                  0
274  location_municipality_code+936                  0
208  location_municipality_code+941                  0
205  location_municipality_code+946                  0
194  location_municipality_code+976                  0
188  location_municipality_code+977                  0
342  location_municipality_code+981                  0
251  location_municipality_code+989                  0
206  location_municipality_code+992                  0
393         location_region_code+21                  0
493                      turnover+0                  0
491                      turnover+1                  0
4           company_form_code+CO_10                  1
13          company_form_code+CO_18                  1
46           company_form_code+CO_4                  1
7            company_form_code+CO_5                  1
9            company_form_code+CO_6                  1
482                industry_code+07                  1
476                industry_code+15                  1
485                industry_code+19                  1
475                industry_code+21                  1
466                industry_code+29                  1
455                industry_code+36                  1
467                industry_code+37                  1
454                industry_code+75                  1
432                industry_code+88                  1
442                industry_code+95                  1
209  location_municipality_code+079                  1
100  location_municipality_code+109                  1
225  location_municipality_code+111                  1
136  location_municipality_code+140                  1
306  location_municipality_code+152                  1
153  location_municipality_code+167                  1
79   location_municipality_code+186                  1

## Poistetaan sijaintikunnat ylläolevan perusteella

In [25]:
SELECTED_COMPANY_FEATURES = ['company_form_code', 
                             'location_region_code', 'company_status_code', 'industry_code', 'turnover', 
                             'net_profit', 'personnel_average', 'performer_ranking_points', 'risk_rating_class']

COMPANIES_DF = COMPANIES_DF[['business_id', 'company_name'] + SELECTED_COMPANY_FEATURES]
COMPANIES_DF.head()

,business_id,company_name,company_form_code,location_region_code,company_status_code,industry_code,turnover,net_profit,personnel_average,performer_ranking_points,risk_rating_class
0,31431209,Tmi Onerva Miettunen,company_form_code+CO_26,location_region_code+01,company_status_code+AKT,industry_code+43,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
1,32087307,Koti Vaihtoon LKV Oy,company_form_code+CO_16,location_region_code+01,company_status_code+AKT,industry_code+68,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
2,18601103,Teollisuuden Monialapalvelu T:mi Oksanen,company_form_code+CO_26,location_region_code+NaN,company_status_code+AKT,industry_code+68,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
3,20469041,POLYBEAT,company_form_code+CO_53,location_region_code+NaN,company_status_code+AKT,industry_code+74,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN
4,24844507,SAHOJEN PUU,company_form_code+CO_26,location_region_code+NaN,company_status_code+AKT,industry_code+NaN,turnover+NaN,net_profit+NaN,personnel_average+NaN,performer_ranking_points+NaN,risk_rating_class+NaN

## Pikkelöi käsitelty yritysdata

In [ ]:
COMPANIES_DF.to_pickle(WORKING_DIRECTORY + "data/pandas_pickles/company_data_iteration3.pkl")